services:
  n8n-editor:
    image: n8nio/n8n:1.114.3
    container_name: n8n-editor-ftr
    ports:
      - 5679:5678
    volumes:
      - ./n8n-data:/home/node/.n8n
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_RUNNERS_ENABLED=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
      ##Queue mode
      - EXECUTIONS_MODE=queue
      - QUEUE_BULL_REDIS_HOST=redis ##SE tiver na cloud, add a URL
      - QUEUE_BULL_REDIS_PORT=6379
      - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
      - WEBHOOK_URL=https://touchable-nonchronically-carmelia.ngrok-free.dev
      ##Postgres
      - DB_TYPE=postgresdb 
      - DB_POSTGRESDB_DATABASE=postgres
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=postgres 
      - DB_POSTGRESDB_USER=postgres 
      - DB_POSTGRESDB_SCHEMA=postgres 
      - DB_POSTGRESDB_PASSWORD=postgres 
    networks:
     - n8n-ftr
    depends_on:
      - postgres
      - redis  
    restart: always
  n8n-worker:
    image: n8nio/n8n:1.114.3
    command: worker
    ports:
      - 5678:5678
    volumes:
      - ./n8n-data:/home/node/.n8n
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_RUNNERS_ENABLED=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
      ##Queue mode
      - EXECUTIONS_MODE=queue
      - QUEUE_BULL_REDIS_HOST=redis ##SE tiver na cloud, add a URL
      - QUEUE_BULL_REDIS_PORT=6379
      - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
      - WEBHOOK_URL=https://touchable-nonchronically-carmelia.ngrok-free.dev
      ##Postgres
      - DB_TYPE=postgresdb 
      - DB_POSTGRESDB_DATABASE=postgres
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=postgres 
      - DB_POSTGRESDB_USER=postgres 
      - DB_POSTGRESDB_SCHEMA=postgres 
      - DB_POSTGRESDB_PASSWORD=postgres 
    networks:
     - n8n-ftr   
    depends_on:
      - postgres
      - redis
    restart: always    
  postgres:
    image: ankane/pgvector
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data  
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
    networks:
     - n8n-ftr  
    restart: always    
 
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    volumes:
      - ./redis-data:/data  
    networks:
      - n8n-ftr  
    restart: always
  ngrok:
    image: ngrok/ngrok:latest
    ports: 
      - 4040:4040
    volumes: 
      - ./ngrok.yml:/etc/ngrok.yml
    command: http --domain=touchable-nonchronically-carmelia.ngrok-free.dev n8n-editor-ftr:5678
    environment:
      - NGROK_AUTHTOKEN=34FxzsMdXl9nHWzA1iKnu8psbYZ_3fTK18w4j1nEDcH8XqPxS
    restart: always
    networks:
      - n8n-ftr
    depends_on:
      - n8n-editor



      

networks:
  n8n-ftr:
    driver: bridge
  
    
