services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "docmanager"
      RABBITMQ_DEFAULT_PASS: "docmanager"
    healthcheck:
      test: ["CMD","rabbitmq-diagnostics","-q","check_running"]
      interval: 5s
      timeout: 3s
      retries: 20
        